{%- extends 'lab/index.html.j2' -%}
{% from 'mathjax.html.j2' import mathjax %}
{% from 'jupyter_widgets.html.j2' import jupyter_widgets %}

{% block extra_css %}
<style>
.jp-OutputPrompt {
  display: none;
}

.jp-InputPrompt {
  display: none;
}

.jp-Notebook {
  max-width: 1024px;
  width: 100%;
  margin: auto;
}
</style>
{% endblock extra_css %}

