name: GitHub Pages deploy
on:
  push:
    branches:
    - main
    paths:
    - '**.ipynb'
    - '.jupyter/**'
    - 'nb_build.py'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2

    - name: Setup Dependancies
      run: pip install jupyter nbconvert

    - name: Build
      run: python nb_build.py

    - name: Deploy to GitHub Pages
      uses: Cecilapp/GitHub-Pages-deploy@v3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        email: ryan.littleton0@gmail.com
        build_dir: 'docs'
        branch: 'docs-branch'